<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097652418587-2pjh5u14iff4j9ivt8qac28gob9orkc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097652418587-2pjh5u14iff4j9ivt8qac28gob9orkc3</string>
	<key>API_KEY</key>
	<string>AIzaSyAvOa4hRs6EeNlAdVr6yQAjcX9pytAlc3M</string>
	<key>GCM_SENDER_ID</key>
	<string>1097652418587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.leonardoalmeida.LearnUITextField</string>
	<key>PROJECT_ID</key>
	<string>learnuitextviewfield</string>
	<key>STORAGE_BUCKET</key>
	<string>learnuitextviewfield.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097652418587:ios:8c25d04493a779635e60be</string>
</dict>
</plist>